* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #005694a8;
  border-width: 1px;
  transition-duration: 0.5s;
  z-index: 2;
}

.navcount {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
}

.navbar-left {
  display: flex;
}

.logo {
  color: white;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1.5px;
  margin-left: 10px;
  margin-top: 10px;
}

.logoimg {
  width: 70px;
  height: 50px;
  top: 0px;
  left: 0px;
}

.navbar-right {
  display: flex;
  gap: 60px;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: 550;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-bottom: 2px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-active {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: 550;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover {
  color: #07e0fd;
  border-bottom: 1px solid white;
}

.nav-active:hover {
  color: #07e0fd;
  border-bottom: 1px solid white;
}

.nav-icon {
  display: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .logo {
    display: none;
  }
  .navbar-left {
    display: flex;
    justify-content: space-between;
  }
  .nav-link,
  .nav-active {
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-first {
    margin-top: 20px;
  }
  .nav-active {
    background: linear-gradient(90deg, #2993a8a8 0%, #025465a8 100%);
    border-top: 1px solid #895e3f;
    border-width: 1px;
  }
  .nav-icon {
    align-self: center;
    padding-right: 30px;
  }
  .navbar-right {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .navbar-right a {
    display: none;
  }
  .navbar-left a.nav-icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .navbar-right.responsive {
    position: relative;
  }
  .navbar-left.responsive .nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 481px) and (max-width: 880px) {
  .logo {
    display: none;
  }
}

/* banner */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/img/RajaAmpat.jpg");
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.bannerteks {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 120px;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  text-decoration: underline;
  text-decoration-color: #07e0fd;
  text-decoration-thickness: 5px;
  font-size: 30px;
  color: #005c84;
  font-weight: 600;
  margin-bottom: 10px;
}

.first {
  margin-top: 280px;
}

.second {
  margin-top: 30px;
}

@media screen and (min-width: 375px) and (max-width: 480px) {
  .first {
    margin-top: 70%;
  }
  .bannerteks {
    margin-top: -3%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .first {
    margin-top: 50%;
  }
  .bannerteks {
    margin-top: 10%;
  }
}

.island-catagory {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 16px;
  margin-left: 15px;
}

/* destination */

.destination-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  padding: 1rem;
}

.destination-content .row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.button {
  background: #2d95e1;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  border-radius: 20px;
  width: 80px;
}

.button:hover {
  transform: translate();
  border: 2px solid;
  color: rgb(255, 255, 255);
  background-color: #2bd9fe;
}

.box {
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-bottom: 10px;
}

.box img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(70%);
  transition: all 0.3s cubic-bezier(0.499, 0.05, 0.55, 0.95);
  will-change: filter;
  display: block;
}

.island-catagory {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 16px;
  margin-left: 15px;
}

.box h6 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  color: #979797;
  margin-left: 12px;
}

.box p {
  color: #2d95e1;
  margin-left: 12px;
  margin-top: -12px;
}

.box h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 12px;
}

.box .btn {
  margin-top: 20px;
}

.box img:hover {
  filter: brightness(120%);
  transform: scale(1.04);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .destination-content {
    display: grid;
    grid-template-columns: 1fr; /* Mengubah menjadi satu kolom pada layar kecil */
    margin-bottom: 2rem; /* Menambah jarak antar kotak pada layar kecil */
  }
}

@media screen and (min-width: 481px) and (max-width: 880px) {
  .destination-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
  }
}

/* Footer*/
.footer {
  background-color: #005694;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

.footer .footer-left {
  width: 30%;
}

.footer h3 {
  color: #f5f5f5;
  margin: 0;
  padding-bottom: 20px;
}

.footer .footer-left img {
  width: 20%;
  vertical-align: middle;
}

.footer .footer-left .credit-cards {
  width: 100%;
}

.footer .footer-left p {
  color: #fcfcfc;
  font-size: 15px;
  padding-top: 10%;
}
.footer .footer-copy p {
  color: #fcfcfc;
  font-size: 15px;
  padding-top: 5%;
  text-align: center;
}

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .footer-center i:hover {
  background-color: #07e0fd;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 2;
}

.footer .footer-center p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer .footer-right {
  width: 30%;
}

.footer .footer-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer .footer-about span {
  display: block;
  color: #f8eeee;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-media {
  margin-top: 40px;
}

.footer .footer-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .footer-media a:hover {
  background-color: #07e0fd;
}

@media (max-width: 880px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .footer .footer-center i {
    margin-left: 0px;
  }
}
